-var titulo = "Sub-Titulo Principal"
-var titulos = ["Titulo Principal", "Subtitulo 1", "Subtitulo 2", "Subtitulo 3",]
-var usuario = "Viviana"
-var enlaces = ['Acerca', 'Noticias', 'Contacto']
//- se declara un mixin entre parentecis están los datos que cambiaran
mixin caja(imagen,titulo,contenido)
	.caja
		.caja__imagen: img(src="images/"+imagen)
		.caja__contenido
			h3=titulo
			p=contenido

